<div class="card">
        <h2 class="country-name"><img class="country_flag" src="{{flag}}" alt="{{name}} width=" 40" height="40"> {{name}}</h2>
        <p class="country-capital"> <span>Capital:</span>{{capital}}</p>
        <p class="country-population"><span>Population:</span>{{population}}</p>
        <p class="country-languages"><span>Languages:</span>{{findCountryLang}}</p>
</div>
